@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700");

$dark-gray: #292c33;
$light-gray: #333740;
$orange: #ffbb33;
$light-cyan: #99cccc;
$pink: #ff8080;

$large-unit: 50px;
$reg-unit: 20px;
$small-unit: 10px;

$thin-font-weight: 300;
$reg-font-weight: 400;
$thick-font-weight: 700;

$trim-width: 960px;
$nav-z-index: 100;

@mixin box-reset
{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

* {@include box-reset;}

html, body
{
    min-height: 101%;
    background: $dark-gray;
    font-family: "Open Sans", sans-serif;
    font-size: ($reg-unit - 3);
    font-weight: $reg-font-weight;

}

header, nav, main, section, article, aside, footer {display: block;}

main
{
    padding: $reg-unit;
    color: $light-cyan;
}

main h1, main h2, main h3, main h4, main h5, main h6
{
    color: $orange;
    font-weight: $thin-font-weight;
}

a
{
    color: inherit;
    text-decoration: none;
}

a:hover {text-decoration: underline;}

main a {color: $pink;}

form
{
    margin: auto;
    max-width: ($trim-width / 2)
}

form > *
{
    display: block;
    width: 100%;
}

input, select, textarea, button
{
    margin-bottom: $reg-unit;
    border-radius: ($small-unit / 2);
    padding: $small-unit;
    background: $light-gray;
    font-family: inherit;
    color: $light-cyan;
}

textarea {min-height: 200px;}

input[type=submit], button
{
    background: $orange;
    color: $dark-gray;
}

hr {border: 1px solid;}

.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}

.warning
{
    border-radius: ($small-unit / 2);
    background: $pink;
    color: $dark-gray;
}

.warning a
{
    color: $dark-gray;
    font-weight: $thick-font-weight;
}

#page-header
{
    color: $dark-gray;
    background: $orange;
    text-align: center;
}

#page-title
{
    float: left;
    font-size: ($large-unit - $reg-unit);
    font-weight: $thin-font-weight;
}

#main-nav
{
    float: right;
    background-color: $orange;
}

#main-nav-button
{
    display: none;
    padding: ($small-unit - 5) $small-unit 0 $small-unit;
    width: $large-unit;
    cursor: pointer;
}

#main-nav-button hr {margin-top: ($small-unit - 5);}

#main-nav ul
{
    list-style: none;
    font-weight: $thick-font-weight;
}

#main-nav ul li
{
    display: inline-block;
    margin: 0 $reg-unit;
    padding: $small-unit;
}

.trim-box
{
    margin: auto;
    max-width: $trim-width;
    overflow: hidden;
}

.col-2
{
    padding: 5%;
    width: 50%;
    float: left;
}

.col-3
{
    padding: 5%;
    width: 33.33%;
    float: left;
}

.callout
{
    margin: $reg-unit (-$reg-unit);
    padding: $large-unit $reg-unit;
    background: $light-gray;
}

#page-footer
{
    margin-top: ($large-unit * 2);
    color: $orange;
    font-size: ($reg-unit - 7);
    text-align: center;
}

/* mobile */
@media screen and (max-width: 768px)
{    
    main {padding-top: ($large-unit * 2);}
    
    #page-header
    {
        width: 100%;
        height: ($large-unit - $small-unit);
        position: fixed;
        top: 0;
        left: 0;
        z-index: ($nav-z-index + 1);
    }

    #page-title {font-size: ($large-unit / 2);}
    
    #main-nav
    {
        width: 0%;
        opacity: 0;
        overflow: hidden;
        float: none;
        position: fixed;
        top: ($large-unit - 10);
        left: 0;
        z-index: $nav-z-index;
        text-align: left;
        transition: 0.25s ease-in-out;
    }

    #main-nav-button
    {
        display: block;
        float: left;
    }

    #main-nav ul li
    {
        display: block;
        margin: $reg-unit 0;
        padding: $small-unit;
    }

    .col-2, .col-3
    {
        padding: $reg-unit 0;
        width: 100%;
        float: none;
    }
}